@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(/projeto_linkedin/assets/images/gojou_bg.jpg);
    background-size:contain;
    background-repeat: no-repeat;
}

body video {
    position: absolute;
    width:100%;

    object-fit: cover;
    z-index:-999;
}
/* Aplicações gerais */
.escurecer-bg {
    background: linear-gradient(to left,rgba(56, 51, 51, 0.562), rgba(26, 25, 25, 0.897));
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    z-index:-99;
}

.bg-roxo {
    position: absolute;
    background: linear-gradient(#211b4b, #151329);
    width:100%;
    height: 900px;
    left:0;
    transform: translateY(1050px);
    z-index:-98;    
}

.box {
    position: relative;
}

.img_perfil {
    width:50px;
    height:50px;
    border-radius:10px;
    margin:10px;
}

.container {
    width:100%;
    height:100px;
    padding:30px 120px;
    display:flex;
    justify-content: space-between;
    align-items: center; 
    z-index:999;
}
/* fim das aplicações gerais */
header .header-logo {
    width:60px;
    height:40px;
}

header .header-logo img {
    width:150px;
    height:50px;
}

header .header-search input {
    width:500px;
    padding: 10px 35px;
    border-radius:10px;
    border: none;
    outline: none;
    margin-left:20px;
}

header .header-search input::placeholder {
    color:#ccc;
    font-size:16px;
}

header .header-search img {
    position:absolute;
    width:20px;
    height:20px;
    margin-left:25px;
    margin-top:10px;
    padding-left:5px;
}

header .header-icons {
    display:flex;
    padding:20px;
    margin-right:-100px;
}

header .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:35px;
    margin:10px;
    border-radius:5px;
    background: rgba( 102, 100, 110, 0.25 );
    box-shadow: 0 8px 32px 0 rgba(88, 129, 120, 0.37);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    cursor: pointer;
}

header .header-icon img {
    width:20px;
    height:20px;
    -webkit-backdrop-filter: blur( 5.0px );
}

header .header-profile {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-right:35px;
}

header .header-profile h3 {
    font-weight: 500;
    font-size: 18px;
}

.header-profile .seta_baixo {
    width:15px;
    height:15px;
    margin: 15px 8px;
    cursor: pointer;
}

.grid-area {
    margin-top: 180px;
    display:grid;
    grid-template-areas: 
    "col1 col2  col3 "
    "col1 col2  col3 ";              
    gap: 20px;
}

.area1 {
    grid-area: col1;
    margin-left:50px;
}

.area2 {
    margin-top:30px;
    grid-area: col2;
    height:550px;
    margin-left:30px;
}

.area3 {
    grid-area: col3;
    margin-right:50px;
}

.area1-nav {
    width:100%;
    max-width:280px;
    margin:auto;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.area1-nav img {
    width:120px;
    height:120px;
    border-radius:15px;
    margin-top: -60px;
}

.area1-nav h2 {
    margin-top:10px;
    padding: 5px 0;
    font-size:22px;
    color:#93E5AB;
    font-family: 'Oswald', sans-serif;
}

.area1-nav p {
    color:#fff;
    font-size:12px;
}

.area1-nav ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width:100%;
    margin:20px;
    margin-bottom:60px;
    max-width:240px;
}

.area1-nav ul li {
    font-size:13px;
    padding: 15px 55px;
    width:100%;
    border-bottom: 1px solid #8da7bec9;
}

.area1-nav ul li img{
    width:20px;
    height:20px;
    margin-top:2px;
    margin-bottom:-2px;
    margin-right:10px;
    border-radius:0;
}

.area1-nav ul li a {
    text-decoration: none;
    color: #fff;
}

.area1-ul {
    margin-left:20px;
}

.about-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.about-views,
.about-connections {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:120px;
    height:120px;
    margin:20px;
    margin-top:80px;
    margin-bottom:80px;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 30px;
}

.about-views h2,
.about-connections h2 {
    color:#93E5AB;
    font-size:32px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.about-views p,
.about-connections p {
    font-size:14px;
    color:#ccc;
}

.profile-groups {
    width:100%;
    max-width:280px;
    padding:20px;
    margin:20px;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 30px;
    margin:auto;
}

.profile-groups h2 {
    font-family: 'Oswald', sans-serif;
    font-size:28px;
    margin: 15px 30px;
    color:#fff;
}

.group-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    width:240px;
    height:90px;
    background: rgba(8, 6, 20, 0.445);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    margin-bottom:20px;
    cursor:pointer;
}

.group-items:hover {
    background: rgba(33, 27, 63, 0.445);
}

.group-item-img img {
    width:50px;
    height:50px;
    border-radius:10px;
    margin-right:10px;
}

.group-item-text h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size:18px;
    color:#93E5AB;
}

.group-item-text p {
    font-size:14px;
    color: #747272;
}


.area2 {
    padding:30px;
    width:100%;
    max-width:700px;
}

.area2-content-skills {
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    padding:30px;
}

.area2-skills {
    color:#fff;
    display: flex;
    justify-content: space-between;
}

.area2-skills strong {
    color:#93E5AB;
}

.area2-skills a {
    text-decoration: none;
    color:#ccc;
    margin-bottom:20px;
    padding: 3px 15px;
    border-radius:10px;
    background: rgba(73, 72, 78, 0.25);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
}

.area2-skills a:hover {
    background: rgba( 102, 100, 110, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
}

.area2-grid {
    display:grid;
    gap:20px;
    grid-template-columns: repeat(2, 1fr);
    color:#fff;
}

.area2-item1 {
    grid-column: 1 / 4;
}

.area2-item2 {
    grid-column: 1 / 2;
    background-image: url(/projeto_linkedin/assets/images/hollow.jpg);
    background-size: cover;
    background-position: center;
    border-radius:20px;
    width:100%;
    height:250px;
}

.area2-item3 {
    grid-column: 2 / 4;
    background-image: url(/projeto_linkedin/assets/images/preview.jpg);
    background-size: cover;
    background-position: center;
    border-radius:20px;
    width:100%;
    height:250px;
}

.area2-item-expansao {
    display:flex;
    justify-content: center;
    align-items: center;
    background: rgba(8, 6, 20, 0.445);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
    border-radius:20px;
    width:100%;
}

.area2-item-expansao img {
    width:200px;
    height:150px;
    border-radius:10px;
}

.area2-item-expansao-text {
    padding: 5px 15px;
}

.area2-item-expansao-text h2 {
    font-family: 'Oswald', sans serif;
    font-size: 22px;
    margin-top:10px;
}

.area2-item-expansao-text p {
    margin-top:15px;
    font-size:12px;
    line-height: 20px;
}

.area-item-habil {
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    background: rgba(8, 6, 20, 0.623);
    border-radius: 10px;
    height:100%;
    width:100%;
    border-radius:20px;
    padding: 30px 30px;
}


.area-item-habil h2 {
    margin-top:90px;
    text-shadow:2px 2px 16px #020101
}


.area-item-btn {
    padding: 5px 15px;
    width:100px;
    height:40px;
    border:1px solid #fff;
    border-radius:15px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    box-shadow: 2px 2px 35px #020101;
    cursor:pointer;
}
.area-item-btn img {
    width:20px;
    height:20px;
    margin-right:3px;
}

.area-item-btn a {
    text-decoration: none;
    color:#fff;
    margin-right:5px;
}

.content-quote {
    width:100%;
    padding:30px;
    margin-top:130px;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
}

.quote-area {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.quote-area .gojou {
    width:100%;
    max-width:360px;
    position: absolute;
    right:-100px;
    top:-140px;
    z-index:-1;
}

.quote-area--left {
    width:100%;
    max-width:250px;
    margin-top:-60px;
    margin-right:15px;
}

.quote-area--img img {
    width:30px;
    height:30px;
    float:left;
}

.quote-area-left--text {
    margin-left:40px;
}

.quote-area-left--text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size:32px;
    text-align: justify;
    line-height: 30px;
    margin-bottom:5px;
}

.quote-area-left--text p {
    font-style: italic;
    color: #454545;
    font-size:18px;
}

.quote-area--right {
    width:280px;
}

.quote-area--right p {
    font-size:16px;
    text-align: justify;
    line-height: 25px;
    color:rgb(255, 255, 255);
}

.area3-invitation {
    width:100%;
    max-width:380px;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 30px;
    padding:20px;
}

.area3-invitation h2 {
    font-family: 'Oswald', sans-serif;
    font-weight:700;
    font-size:36px;
    color:#fff;
}

.area3-invitation a {
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    background: rgba(73, 72, 78, 0.25);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    margin-top:30px;
    border-radius:10px;
}

.area3-invitation a:hover {
    background: rgba( 102, 100, 110, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border:none;
}

.area3-invitation-persons {
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:30px;
    background: rgba(8, 6, 20, 0.445);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 10px;
}


.area3-invitation-persons--text {
    margin-left:10px;
    line-height:20px;
    color:#ccc;
}

.area3-invitation-persons--text h2 {
    font-size:16px;
    color: #93E5AB;
}

.area3-invitation-persons--text p {
    font-size:12px;
}

.area3-invitation-persons--icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width:40px;
    height:40px;
    border-radius:10px;
    background:#15132962;
    cursor: pointer;
}

.area3-invitation-persons--icons:hover {
    background: rgba(33, 27, 63, 0.445);
}

.area3-invitation-persons--icons img {
    width:20px;
    height:20px;
}

.area3-chatarea {
    width:100%;
    max-width:380px;
    height:550px;
    margin-top:60px;
    background: rgba( 102, 100, 110, 0.25 );
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
    border-radius: 30px;
}

.area3-chat-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.area3-chat-inputarea {
    margin-top:20px;
}
.area3-chat-inputarea input {
    padding: 10px 30px;
    padding-left:40px;
    border-radius:10px;
    border:none;
    outline: none;
}



.area3-chat-inputarea img {
    width:20px;
    height:20px;
    position:absolute;
    margin:10px;
}

.area3-chat-iconarea {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:#15132962;
    margin-left:20px;
    margin-top:20px;
    border-radius:6px;
}

.area3-chat-iconarea:hover {
    background: rgba(73, 72, 78, 0.25);
    backdrop-filter: blur( 12.0px );
    -webkit-backdrop-filter: blur( 12.0px );
}

.area3-chat-iconarea img {
    width:28px;
    height:28px;    
    margin-left:8px;
    margin-top:3px;
}

.area3-chat-people {
    width:100%;
    padding:15px;
}

.area3-chat-peoplearea {
    display: flex;
    padding:10px;
    border-bottom:1px solid #454545;
}

.area3-chat-peoplearea:first-child {
    border-top:1px solid #454545;
}

.area3-chat-peoplearea--text {
    margin-left:10px;
    line-height:20px;
}

.area3-chat-peoplearea--text span {
    font-size:10px;
    color:#454545;
}

.area3-chat-peoplearea--text h2 {
    font-size:22px;
    color: #93E5AB;
    margin-bottom:5px;
}

.area3-chat-peoplearea--text p {
    color: rgb(153, 152, 152);
}


