<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SpaceDev</title>
  <link rel="stylesheet" href="home.css">
</head>
<body>
  <div class="container">
    <div class="menu">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48"><g fill="none" fill-rule="evenodd"><circle cx="24" cy="24" r="24" fill="#FFF"/><path fill="#0B0D17" d="M24 0c0 16-8 24-24 24 15.718.114 23.718 8.114 24 24 0-16 8-24 24-24-16 0-24-8-24-24z"/></g></svg>
      </div>
      <div class="line"></div>
      <div class="menu-nav">
        <div class="nav-bg"></div>
        <ul id="ul">
          <svg id="close" xmlns="http://www.w3.org/2000/svg" width="20" height="21"><g fill="#D0D6F9" fill-rule="evenodd"><path d="M2.575.954l16.97 16.97-2.12 2.122L.455 3.076z"/><path d="M.454 17.925L17.424.955l2.122 2.12-16.97 16.97z"/></g></svg>
          <li><a href=""  class="selected"><strong>00</strong> Home</a></li>
          <li><a href=""><strong>01</strong> Destination</a></li>
          <li><a href=""><strong>02</strong> Crew</a></li>
          <li><a href=""><strong>03</strong> Technology</a></li>
        </ul>
      </div>
      <div class="menu-hamburguer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="21"><g fill="#D0D6F9" fill-rule="evenodd"><path d="M0 0h24v3H0zM0 9h24v3H0zM0 18h24v3H0z"/></g></svg>
      </div>
    </div>
    <main>
      <div class="content">
        <div class="content-text">
          <h3>so, you want to travel to</h3>
          <h1>space</h1>
          <p>Let’s face it; if you want to go to space, you might as well genuinely go to outer space 
            and not hover kind of on the edge of it. Well sit back, and relax because we’ll give you a 
            truly out of this world experience!
          </p>
        </div>
        <div class="content-btn">
          <a href="">Explore</a>
        </div>
      </div>
    </main>
  </div>
<script src="home.js"></script>
</body>
</html>